---
import Welcome from "../components/Welcome.astro";
import Footer from "../components/Footer.astro";
import Layout from "../components/Layout.astro";
import CardLoteryIndex from "../components/CardLotery/cardLoteryIndex.astro";
import ButtonPrimary from "../components/buttonPrimary.astro";
import ButtonSecondary from "../components/buttonSecondary.astro";
import {
  cundinamarca,
  tolima,
  cruzRoja,
  huila,
  metalottery,
  manizales,
  valle,
  bogota,
  quindio,
  medellin,
  risaralda,
  santander,
  boyaca,
  cauca
} from '../data/APILottery'
import { Picture } from "@astrojs/image/components";
---
<Layout pageTitle={'Inicio'}>
  <Welcome/>
  <div class="flex justify-center gap-3 py-4 bg-slate-500/10 rounded-2xl lg:mx-0">
    <ButtonPrimary titleButton={'Loterías diarias'} linkButton={'.'} />
    <ButtonSecondary titleButton={'Loterías extras'} linkButton={'extras'} />
  </div>
  <section class="px-5 w-full lg:w-full lg:px-0">
    <CardLoteryIndex titleLotery={'Cundinamarca'} nameLotery={'cundinamarca'} loading={''}>
      {cundinamarca === undefined ? <h5>Error al cargar</h5> : cundinamarca.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Tolima'} nameLotery={'tolima'} loading={''}>
      {tolima === undefined ? <h5>Error al cargar</h5> : tolima.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Cruz Roja'} nameLotery={'cruzroja'} loading={''}>
      {cruzRoja === undefined ? <h5>Error al cargar</h5> : cruzRoja.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Huila'} nameLotery={'huila'} loading={'lazy'}>
      {huila === undefined ? <h5>Error al cargar</h5> : huila.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Meta'} nameLotery={'meta'} loading={'lazy'}>
      {metalottery.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Manizales'} nameLotery={'manizales'} loading={'lazy'}>
      {manizales === undefined ? <h5>Error al cargar</h5> : manizales.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Valle'} nameLotery={'valle'} loading={'lazy'}>
      {valle === undefined ? <h5>Error al cargar</h5> : valle.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Bogotá'} nameLotery={'bogota'} loading={'lazy'}>
      {bogota === undefined ? <h5>Error al cargar</h5> : bogota.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Quindio'} nameLotery={'quindio'} loading={'lazy'}>
      {quindio === undefined ? <h5>Error al cargar</h5> : quindio.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Medellín'} nameLotery={'medellin'} loading={'lazy'}>
      {medellin === undefined ? <h5>Error al cargar</h5> : medellin.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Risaralda'} nameLotery={'risaralda'} loading={'lazy'}>
      {risaralda === undefined ? <h5>Error al cargar</h5> : risaralda.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Santander'} nameLotery={'santander'} loading={'lazy'}>
      {santander === undefined ? <h5>Error al cargar</h5> : santander.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Boyacá'} nameLotery={'boyaca'} loading={'lazy'}>
      {boyaca === undefined ? <h5>Error al cargar</h5> : boyaca.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Cauca'} nameLotery={'cauca'} loading={'lazy'}>
      {cauca === undefined ? <h5>Error al cargar</h5> : cauca.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a
            target="_blank"
            href={lotery.img}
            class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 "
          >
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-200 w-44 h-48 object-cover"
                loading=""
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
            </div>
            <footer class="mt-4">
              <h2 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h2>
              <h3>
                <p class="text-white">
                  Fecha:{" "}
                  <time class="text-gray-400" datetime={lotery.fecha}>
                    {lotery.fecha}
                  </time>
                </p>
              </h3>
            </footer>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
            <ButtonSecondary
              linkButton={lotery.downloadImg}
              titleButton='Descargar'
              />
          </div>
        </article>
      ))}
    </CardLoteryIndex>
  </section>
  <!-- <aside class="h-10 bg-slate-900 inline-block lg:w-1/5">
    <h6>Este es un aside</h6>
  </aside> -->
  </Layout>
