---
import Welcome from "../components/Welcome.astro";
import Layout from "../components/Layout.astro";
import CardLoteryIndex from "../components/CardLotery/cardLoteryIndex.astro";
import ButtonPrimary from "../components/buttonPrimary.astro";
import ButtonSecondary from "../components/buttonSecondary.astro";
import {
  cundinamarca,
  tolima,
  cruzRoja,
  huila,
  metalottery,
  manizales,
  valle,
  bogota,
  quindio,
  medellin,
  risaralda,
  santander,
  boyaca,
  cauca
} from '../data/APILottery'
import LastDraw from "../components/lastDraw.astro";
import { Picture } from "@astrojs/image/components";
import * as Icon from '@astropub/icons'
---
<Layout pageTitle={'Inicio'}>
  <Welcome/>
  <div class="flex justify-center gap-3 py-4 bg-slate-500/10 rounded-2xl lg:mx-0">
    <ButtonPrimary titleButton={'Loterías diarias'} linkButton={'.'} />
    <ButtonSecondary titleButton={'Loterías extras'} linkButton={'extras'} />
  </div>
  <section class="px-5 w-full lg:w-full lg:px-0">
    <LastDraw/>
    <CardLoteryIndex titleLotery={'Cundinamarca'} nameLotery={'cundinamarca'} loading={''} mapLottery={cundinamarca}>
      {cundinamarca === undefined ? <h5>Error al cargar</h5> : cundinamarca.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Tolima'} nameLotery={'tolima'} loading={''}>
      {tolima === undefined ? <h5>Error al cargar</h5> : tolima.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Cruz Roja'} nameLotery={'cruzroja'} loading={''}>
      {cruzRoja === undefined ? <h5>Error al cargar</h5> : cruzRoja.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Huila'} nameLotery={'huila'} loading={'lazy'}>
      {huila === undefined ? <h5>Error al cargar</h5> : huila.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Meta'} nameLotery={'meta'} loading={'lazy'}>
      {metalottery.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Manizales'} nameLotery={'manizales'} loading={'lazy'}>
      {manizales === undefined ? <h5>Error al cargar</h5> : manizales.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Valle'} nameLotery={'valle'} loading={'lazy'}>
      {valle === undefined ? <h5>Error al cargar</h5> : valle.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Bogotá'} nameLotery={'bogota'} loading={'lazy'}>
      {bogota === undefined ? <h5>Error al cargar</h5> : bogota.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Quindio'} nameLotery={'quindio'} loading={'lazy'}>
      {quindio === undefined ? <h5>Error al cargar</h5> : quindio.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Medellín'} nameLotery={'medellin'} loading={'lazy'}>
      {medellin === undefined ? <h5>Error al cargar</h5> : medellin.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Risaralda'} nameLotery={'risaralda'} loading={'lazy'}>
      {risaralda === undefined ? <h5>Error al cargar</h5> : risaralda.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Santander'} nameLotery={'santander'} loading={'lazy'}>
      {santander === undefined ? <h5>Error al cargar</h5> : santander.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Boyacá'} nameLotery={'boyaca'} loading={'lazy'}>
      {boyaca === undefined ? <h5>Error al cargar</h5> : boyaca.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
    <CardLoteryIndex titleLotery={'Cauca'} nameLotery={'cauca'} loading={'lazy'}>
      {cauca === undefined ? <h5>Error al cargar</h5> : cauca.slice(0, 4).map((lotery: any) => (
        <article class="inline-grid snap-center shrink-0 m-auto relative h-[298px] rounded-3xl overflow-hidden group">
          <div class="absolute z-20 top-0 left-0 mt-52 pl-3 group-hover:-translate-x-52 duration-150 transition-transform">
            <a
            href={lotery.downloadImg}
            class="bg-colorPrimary absolute rounded-lg p-1 top-0 left-0 translate-x-[385px] translate-y-8 duration-150 hover:bg-purple-400"
            >
              <Icon.Download fill="white" size="30" title="Descargar" />
            </a>
            <h2 class=" font-bold text-2xl text-white mb-2">{lotery.lotteryName}</h2>
            <div class="flex gap-3 items-center">
              <h3 class="font-bold text-lg text-white top-0 bg-colorPrimary px-2 py-[2px] rounded-lg ">{lotery.drawingNumber}</h3>
              <h3 class="">
                  <p class="">
                    <time class="bg-white px-2 py-[5px] rounded-lg" datetime={lotery.fecha}>
                      {lotery.fecha}
                    </time>
                  </p>
                </h3>
            </div>
          </div>
          <a
            class=""
            target="_blank"
            href={lotery.img}>
          <div class="relative after:absolute after:z-10 after:top-0 after:h-full after:w-full after:content-[''] after:bg-gradient-to-t from-black/100">
              <Picture
              width={300}
              sizes="300"
              format={"webp"}
              widths={[200, 400, 400]}
              aspectRatio="16:9"
              fit="inside"
              class="bg-slate-200 h-full w-56 max-h-[298px] aspect-[9/12] object-cover opacity-70 group-hover:opacity-100 group-hover:contrast-125 transition-opacity duration-100"
              loading=""
              src={`${lotery.img}`}
              alt={lotery.imgAlt}
              title={lotery.drawingNumber}
              />
            </div>
          </a>
        </article>
      ))}
    </CardLoteryIndex>
  </section>
  <!-- <aside class="h-10 bg-slate-900 inline-block lg:w-1/5">
    <h6>Este es un aside</h6>
  </aside> -->
  </Layout>
