---
import { Picture } from "@astrojs/image/components";

interface Props {
  nameLotery: String;
}
const { nameLotery } = Astro.props;

const response = await fetch(
  `https://secosenlinea-${nameLotery}-default-rtdb.firebaseio.com/.json`
);
const lotery = await response.json();
---
<article class="my-5 m-auto">
  {
    lotery.map((lotery: any) => (
      <a target="_blank" href={lotery.img} class="">
        <article class="inline-grid p-5 my-4 rounded-2xl m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60">
          <Picture
            width={300}
            sizes="300"
            format={"webp"}
            widths={[200, 300, 400]}
            aspectRatio="16:9"
            fit="inside"
            class="bg-slate-800 rounded-2xl w-44 aspect-[9/10] object-cover"
            loading="lazy"
            src={`${lotery.img}`}
            alt={lotery.imgAlt}
            title={lotery.sorteo}
          />
          <div class="mt-4">
            <h2 class="text-gray-400">
              <span class="text-white">Sorteo:</span>
              {lotery.sorteo}
            </h2>
            <h2 class="text-gray-400">
              <span class="text-white">Fecha:</span>
              {lotery.fecha}
            </h2>
            <div  class="flex mt-2 justify-center">
              <a class="bg-purple-500/30 hover:bg-purple-500 transition-all rounded-2xl px-10 py-1 text-white"href={lotery.downloadImg} download>Descargar</a>
            </div>
          </div>
        </article>
      </a>
      
    ))
  }
</article>
