---
import { Picture } from "@astrojs/image/components";
import Modal from "../Modal.astro";
interface Props {
  titleLotery: String;
  nameLotery: String;
  loading: String
}
const { titleLotery, nameLotery, subRouting = "", loading } = Astro.props;

const response = await fetch(
  `https://secosenlinea-${nameLotery}-default-rtdb.firebaseio.com/.json`
);
const lotery = await response.json();
---

<section>
  <div class="border-b-colorPrimary border-b-4 py-2">
    <h2 class="text-2xl font-bold text-white">{titleLotery}</h2>
  </div>
  <section class="flex gap-2 py-5 snap-x w-full lg:h-[400px] overflow-x-auto overflow-y-auto">
    {
      lotery.slice(0, 5).map((lotery: any) => (
        <article class="inline-grid rounded-2xl snap-center shrink-0 m-auto transition-all hover:scale-105 hover:bg-gradient-to-b from-purple-900/60 lg:relative pb-5">
          <a target="_blank" href={lotery.img} class="gap-5 min-w-[200px] pl-3 pt-3 lg:pb-16 ">
            <div class="h-48 w-44 object-cover overflow-hidden rounded-2xl">
              <Picture
                width={300}
                sizes="300"
                format={"webp"}
                widths={[200, 300, 400]}
                aspectRatio="16:9"
                fit="inside"
                class="bg-slate-800 w-44 h-48 object-cover"
                loading={loading}
                src={`${lotery.img}`}
                alt={lotery.imgAlt}
                title={lotery.sorteo}
              />
              </div>
            <section class="mt-4">
              <h3 class="text-gray-400">
                <span class="text-white">Sorteo:</span>
                {lotery.sorteo}
              </h3>
              <h3 class="text-gray-400">
                <span class="text-white">Fecha:</span>
                {lotery.fecha}
              </h3>
            </section>
          </a>
          <div class="flex mt-2 justify-center lg:absolute lg:w-full lg:mt-[280px]">
                <a
                  class="bg-purple-500/30 hover:bg-purple-500 transition-all rounded-2xl px-10 py-1 text-white shadow-lg hover:shadow-purple-300/50"
                  href={lotery.downloadImg}
                  download
                >
                  Descargar
                </a>
              </div>
        </article>
      ))
    }
  </section>
  <div class="flex justify-center my-2">
    <a
      href=`./${subRouting}${nameLotery}`
      class="bg-purple-500/30 text-white px-10 py-2 rounded-2xl hover:bg-purple-500 transition-all shadow-lg hover:shadow-purple-300/50"
      >Ver más resultados →</a
    >
  </div>
</section>
